[class^="icon-"], [class*=" icon-"] {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-adult { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xe800;&nbsp;"); }
.icon-cancel { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xe801;&nbsp;"); }
.icon-basket { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xe802;&nbsp;"); }
