
.icon-adult { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xe800;&nbsp;"); }
.icon-cancel { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xe801;&nbsp;"); }
.icon-basket { *zoom: expression( this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xe802;&nbsp;"); }
