.contactNoLogged {
  @include fullPage();
  @include flexCenter(row);
  max-width: 650px;
}

.form {
  @include flexCenter(column);
  margin: 50px 0 50px 0;
}

.form form {
  @include flexCenter(column);
  font-size: larger;
  button {
    @include OhOrangeButton();
  }
  * {
    margin: 5px;
  }
}

.contactMessages {
  @include flexCenter(row);
  max-width: 1600px;
  margin: 0 auto;
  h2 {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid grey;
  }
  button {
    @include OhOrangeButton();
  }
}

.contactMessage {
  max-width: 450px;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  h3 {
    padding: 5px;
    width: 100%;
    border-bottom: 2px solid $OhOrange;
  }
  h4 {
    padding: 10px;
  }
  h6 {
    width: 100%;
    border-bottom: 2px solid $OhOrange;
  }
}

.form h3 {
  padding: 50px;
}

.contactPage {
  @include flexCenter(column);
}

@media only screen and (min-width:900px) {
  .contactMessage {
    width: 400px;
    margin: 10px;
    padding: 10px;
  }
}

@media only screen and (max-width:900px) {
  .form {
   margin-top: 10px;
  }
  .contactMessage {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
}
