.orderedDiv {
  margin: 0 auto;
  @include flexCenter(column)
}

.choosen {
  background: $OhOrange;
}

.orderDates {
  @include flexCenter(column);
  * {
    margin: 5px;
  }
}

.renderedOrders {
  @include flexCenter(row)
}

.orderedProduct {
  @include flexCenter(row);
  border-bottom: 0.5px solid #888888;
  img {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
  }
}

.profileHeader {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  border-bottom: 1px solid lightgrey;
}

@media only screen and (min-width:900px) {
  .orderedDiv {
    max-width: 90%;
  }
}

@media only screen and (max-width:900px) {
  .orderedDiv {
    @include flexCenter(column);
    max-width: 100%;
  }
}
