.basketDrop {
  position: fixed;
  width: 250px;
  height: 200px;
  box-shadow: 1px 1px 3px #888888;
  text-align: center;
  background: #eeeeee;
  margin-top: 80px;
  overflow-y: scroll;
  z-index: 7;
  transition: 1s all ease-in-out;
  right: -250px;
  top: 0;
  display: flex;
  flex-direction: column; 
  h5 {
    color: black;
    font-size: large;
    text-align: center;
  }
  .basketItem {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    img {
      width: 25%;
    }
    h5, h4 {
      margin: 0 auto;
    }
    h5 {
      width: 60%;
    }
    h4 {
      color: $OhOrange;
      font-weight: bolder;
      font-size: 1.5em;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.basketDrop-active {
  right: 50px;
  top: 0;
  transition: 1s all ease-in-out;
}
