.footerComponent {
  @include flexCenter(row);
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba($color: lightGrey, $alpha: 1);
  box-shadow: 1px 5px 10px darkGrey;
  width: 100%;
  height: 5vh;
}