@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin fullPage(){
  margin: 4vh auto;
  text-align: center;
}

@mixin OhOrangeButton() {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: $OhOrange;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px #888888;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
  @media only screen and (min-width:900px) {
    &:hover {
      box-shadow: none;
      width: 70%;
      transition: 0.5s all ease-in-out;
    }
  }
}