.productListOutterDiv {
  margin: 0 auto;
  @include flexCenter(row)
}

.productsDiv {
  min-width: 300px;
  max-width: 350px;
  min-height: 400px;
  max-height: 580px;
  width: 90vh;
  background: rgba($color: white, $alpha: 0.5);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  h3 {
    font-size: 1.22em;
  }
  img {
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
  }
  .productDivName {
    margin-top: 10px;
  }
  .productDivPrice {
    width: 90%;
    text-align: right;
    border-bottom: 1px solid grey;
  }
  .productDivShortDescription {
    align-self: flex-start;
    margin-top: 5px;
  }
  .productDivBuyButton {
    @include OhOrangeButton();
  }
  .productDivCheckButton {
    @include OhOrangeButton();
    background: grey;
  }
}

// .likeButton {
//   position: fixed;
//   top: 0;
//   right: 0;
//   margin-top: 5px;
//   margin-right: 10px;
// }