* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #dedede;
}

.fourOhFour {
    max-width: 500px;
    margin: 4vh auto;
    text-align: center;
}

.fourOhFour h2 {
    margin-top: 50px;
    color: #F9673B;
}

.centeredText {
    text-align: center;
}

.categoryLogo {
    padding: 10px 0 10px 5px;
    width: 220px;
    height: 45px;
    -webkit-box-shadow: 1px 1px 1px #5a5a5a;
    box-shadow: 1px 1px 1px #5a5a5a;
    background: grey;
    color: white;
    letter-spacing: 1px;
    font-size: 1.6em;
    font-family: "Courier new", serif;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.popup {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    z-index: 7;
}

.popup h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 8vh;
    background: #F9673B;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    text-align: center;
}

@media only screen and (min-width: 900px) {
    .content {
        padding: 85px 5px 5vh 0;
    }
}

@media only screen and (max-width: 900px) {
    .content {
        padding: 90px 5px 50px 0;
    }
}

.navbar {
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    font-family: "Courier new", serif;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 6;
}

.navbar * {
    font-weight: 500;
}

@media only screen and (min-width: 901px) {
    .navbar {
        background: linear-gradient(145deg, #F9673B 16%, grey 10%);
        background-size: 100% 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 80px;
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        background: linear-gradient(145deg, #F9673B 13%, grey 10%);
        background-size: 100% 100%;
        height: 100%;
    }

    .navbar span {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

.navAccount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: white;
    text-align: center;
}

.navAccount .loginIcon {
    background: white;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    color: #F9673B;
}

.navAccount .loginIcon:hover {
    background: #F9673B;
    color: white !important;
}

@media only screen and (min-width: 901px) {
    .navAccount {
        padding-right: 10px;
        font-size: 1.7em;
    }

    .navAccount i {
        margin: 10px;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }

    .navAccount i:hover {
        cursor: pointer;
        color: #F9673B;
    }
}

@media only screen and (max-width: 900px) {
    .navAccount i {
        font-size: 2em;
        margin: 0 20px 0 20px;
    }
}

.logo h5 {
    font-family: "Times New Roman", serif;
    letter-spacing: 1.5px;
    margin-left: 10px;
    color: white;
}

@media only screen and (min-width: 900px) {
    .logo h5 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 900px) {
    .logo h5 {
        margin-top: 5px;
        font-size: 2em;
    }
}

.logo h5:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .links {
        font-size: 1.9em;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .links {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 901px) {
    .links {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 900px) {
    .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 900px) {
    .links {
        height: 75vh;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .links a {
        font-size: 2em;
        width: 100%;
        margin: 20px 0 20px 0;
    }
}

.navlink {
    color: white;
    text-align: center;
    margin: 0 15px 0 15px;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

@media only screen and (min-width: 1000px) {
    .navlink:hover {
        font-size: 1.2em;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

@media only screen and (min-width: 900px) {
    .burger {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .burger {
        display: block;
        z-index: 10;
        position: fixed;
        right: 15px;
        top: 10px;
        padding: 7.5px;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }

    .burger div {
        width: 35px;
        height: 4px;
        background-color: #bdbdbd;
        margin: 5px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

.header {
    padding: 0;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background: linear-gradient(145deg, #F9673B 40%, grey 10%);
    background-size: 100% 100%;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    text-align: left;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 5;
}

.header .navLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 75px;
    font-family: "Times New Roman", serif;
    letter-spacing: 1.5px;
    font-weight: lighter;
    padding: 10px;
    font-size: 2em;
    color: white;
}

@media only screen and (min-width: 900px) {
    .header {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-active {
        left: 0;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }

    .navbar-inactive {
        left: -100%;
    }
}

.footerComponent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    background: lightgray;
    -webkit-box-shadow: 1px 5px 10px darkGrey;
    box-shadow: 1px 5px 10px darkGrey;
    width: 100%;
    height: 5vh;
}

.basketMenuOutter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.basketMenuOutter .basketSubmit {
    text-align: center;
    margin: 0 auto;
}

.basketMenuOutter .basketSubmit button {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    width: 200px;
}

@media only screen and (min-width: 900px) {
    .basketMenuOutter .basketSubmit button:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.basketMenuOutter .basketSubmit button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 150px;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.basketMenuInner {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.basketMenuInner .productDiv {
    text-align: center;
    min-height: 500px;
    height: auto;
}

.basketMenuInner .productDiv h4 {
    margin: 0 auto;
    cursor: pointer;
    color: red;
}

.basketMenuInner form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 500px;
}

.basketComponentOuterDiv {
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (min-width: 900px) {
    .basketComponentOuterDiv {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .basketComponentOuterDiv {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
}

.basketProductsDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (min-width: 900px) {
    .basketProductsDiv {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    .basketProductsDiv {
        width: 100%;
    }
}

.basketProductDiv {
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-radius: 10px;
}

.basketProductDiv h2 {
    width: 40%;
}

.basketProductDiv h3 {
    font-size: 1.22em;
    margin-bottom: 5px;
}

.basketProductDiv img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 30%;
    border-radius: 10px;
}

.basketProductDiv .productDivName {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 10px;
}

.basketProductDiv .productDivPrice {
    width: 90%;
    text-align: right;
    border-bottom: 1px solid grey;
}

.basketProductDiv span {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.basketProductDiv .productDivAmount, .basketProductDiv input {
    display: inline-block;
}

.basketProductDiv input {
    margin-left: 10px;
    font-size: 1.3em;
    outline: none;
    background: rgba(128, 128, 128, 0.2);
    border: none;
    text-align: left;
    border-bottom: 1px solid grey;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.basketProductDiv input:hover {
    background: rgba(128, 128, 128, 0.4);
}

.basketProductDiv input:focus {
    color: black;
    background: rgba(128, 128, 128, 0.4);
    padding: 5px;
}

@media only screen and (min-width: 900px) {
    .basketProductDiv {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .basketProductDiv {
        width: 100%;
    }
}

.BasketProductButton {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    background: grey;
    color: white;
}

@media only screen and (min-width: 900px) {
    .BasketProductButton:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.disabledButton {
    background: darkgrey !important;
    color: black !important;
    cursor: not-allowed !important;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.userDataForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.userDataForm label {
    font-size: 1.3em;
    letter-spacing: 1px;
}

.userDataForm input {
    font-size: 1.3em;
    outline: none;
    background: none;
    border: none;
    text-align: left;
    border-bottom: 1px solid grey;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.userDataForm input::-webkit-input-placeholder {
    text-align: left;
}

.userDataForm input:-ms-input-placeholder {
    text-align: left;
}

.userDataForm input::-ms-input-placeholder {
    text-align: left;
}

.userDataForm input::placeholder {
    text-align: left;
}

.userDataForm input:focus {
    color: black;
    -webkit-box-shadow: 5px 5px 1px #F9673B;
    box-shadow: 5px 5px 1px #F9673B;
    background: rgba(128, 128, 128, 0.4);
    padding: 5px;
}

.userDataForm input:focus::-webkit-input-placeholder {
    color: black;
}

.userDataForm input:focus:-ms-input-placeholder {
    color: black;
}

.userDataForm input:focus::-ms-input-placeholder {
    color: black;
}

.userDataForm input:focus::placeholder {
    color: black;
}

.userDataForm button {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .userDataForm button:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.userDataForm * {
    text-align: center;
    margin-top: 10px;
    margin-bottom: px;
}

.basketSummarySpan h2 {
    display: inline;
}

.basketSummarySpan button {
    display: block;
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .basketSummarySpan button:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

@media only screen and (min-width: 900px) {
    .basketSummaryDiv {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .basketSummaryDiv {
        width: 100%;
    }
}

.basketDrop {
    position: fixed;
    width: 250px;
    height: 200px;
    -webkit-box-shadow: 1px 1px 3px #888888;
    box-shadow: 1px 1px 3px #888888;
    text-align: center;
    background: #eeeeee;
    margin-top: 80px;
    overflow-y: scroll;
    z-index: 7;
    -webkit-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
    right: -250px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.basketDrop h5 {
    color: black;
    font-size: large;
    text-align: center;
}

.basketDrop .basketItem {
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid grey;
}

.basketDrop .basketItem img {
    width: 25%;
}

.basketDrop .basketItem h5, .basketDrop .basketItem h4 {
    margin: 0 auto;
}

.basketDrop .basketItem h5 {
    width: 60%;
}

.basketDrop .basketItem h4 {
    color: #F9673B;
    font-weight: bolder;
    font-size: 1.5em;
}

.basketDrop .basketItem h4:hover {
    cursor: pointer;
}

.basketDrop::-webkit-scrollbar {
    display: none;
}

.basketDrop-active {
    right: 50px;
    top: 0;
    -webkit-transition: 1s all ease-in-out;
    transition: 1s all ease-in-out;
}

.loginOuterContainer {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.loginMainHeader h1 {
    font-family: "Times New Roman", serif;
    letter-spacing: 1px;
    font-size: 2em;
}

@media only screen and (min-width: 900px) {
    .loginMainHeader {
        max-width: 400px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    .loginMainHeader {
        max-width: 350px;
    }
}

@media only screen and (max-width: 500px) {
    .loginMainHeader {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}

.accountForm label {
    font-size: 1.3em;
    letter-spacing: 1px;
    display: block;
}

.accountForm input {
    font-size: 1.3em;
    outline: none;
    background: none;
    border: none;
    text-align: left;
    border-bottom: 1px solid grey;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.accountForm input::-webkit-input-placeholder {
    text-align: left;
}

.accountForm input:-ms-input-placeholder {
    text-align: left;
}

.accountForm input::-ms-input-placeholder {
    text-align: left;
}

.accountForm input::placeholder {
    text-align: left;
}

.accountForm input:focus {
    color: black;
    -webkit-box-shadow: 5px 5px 1px #F9673B;
    box-shadow: 5px 5px 1px #F9673B;
    background: rgba(128, 128, 128, 0.4);
    padding: 5px;
}

.accountForm input:focus::-webkit-input-placeholder {
    color: black;
}

.accountForm input:focus:-ms-input-placeholder {
    color: black;
}

.accountForm input:focus::-ms-input-placeholder {
    color: black;
}

.accountForm input:focus::placeholder {
    color: black;
}

.accountForm button {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .accountForm button:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.accountForm form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.accountForm form .error {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    color: red;
    font-size: 1.3em;
    max-width: 80%;
}

.accountForm a {
    color: #F9673B;
    text-decoration: none;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.accountForm a:hover {
    background: #F9673B;
    color: white;
}

.accountForm * {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    .accountForm {
        width: 50%;
    }
}

.loggedLeftPage, .LoggedRightPage {
    min-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (min-width: 800px) {
    .loggedLeftPage, .LoggedRightPage {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .loggedLeftPage, .LoggedRightPage {
        -ms-flex-item-align: start;
        align-self: flex-start;
        width: 100%;
    }
}

.loggedLeftPage h2 {
    margin: 10px;
    border-bottom: 1px solid grey;
}

.loggedLeftPage span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.loggedLeftPage button {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

@media only screen and (min-width: 900px) {
    .loggedLeftPage button:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.loggedLeftPage button:nth-child(even) {
    background: grey;
}

@media only screen and (min-width: 800px) {
    .loggedLeftPage {
        width: 40%;
        font-size: 2em;
    }
}

@media only screen and (max-width: 800px) {
    .loggedLeftPage {
        width: 100%;
    }
}

.loginHelperHeader {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.banner .info {
    margin: 0 auto;
    color: #F9673B;
    font-family: Helvetica, cursive;
    text-align: center;
}

.banner .product {
    margin: 0 auto;
    border-radius: 10px 10px 10px 15px;
    background-size: 150% 100%;
    background-position: left;
}

@media only screen and (min-width: 900px) {
    .banner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 90vh;
    }

    .banner .product {
        height: 80vh;
    }
}

@media only screen and (min-width: 1400px) {
    .banner .info {
        font-size: 4.5em;
        max-width: 600px;
    }

    .banner .product {
        width: 700px;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1100px) {
    .banner .info {
        font-size: 3.5em;
        max-width: 500px;
    }

    .banner .product {
        width: 550px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    .banner .info {
        font-size: 3.5em;
        max-width: 400px;
    }

    .banner .product {
        width: 450px;
    }
}

@media only screen and (max-width: 900px) {
    .banner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .banner .info {
        font-size: 2.2em;
        padding: 5px;
    }

    .banner .product {
        min-width: 350px;
        max-width: 90vh;
        margin-top: 10px;
        height: 65vh;
    }
}

.productViewDiv {
    position: fixed;
    padding-top: 5px;
    right: 0;
    background: rgba(240, 240, 240, 0.95);
    -webkit-box-shadow: 1px 5px 10px #888888;
    box-shadow: 1px 5px 10px #888888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 6;
}

@media only screen and (min-width: 900px) {
    .productViewDiv {
        top: 80px;
        height: calc(100vh - 80px);
    }
}

@media only screen and (max-width: 900px) {
    .productViewDiv {
        top: 75px;
        height: calc(100vh - 75px);
    }
}

@media only screen and (min-width: 550px) {
    .productViewDiv {
        min-width: 550px;
        max-width: 600px;
    }
}

@media only screen and (max-width: 550px) {
    .productViewDiv {
        width: 100%;
    }
}

.productDivBuyButton {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .productDivBuyButton:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.closeProductView {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 10px;
    font-size: 2.5em;
    color: #F9673B;
    cursor: pointer;
    z-index: 7;
}

.productViewMainImage {
    height: 300px;
    border-radius: 10px;
}

@media only screen and (min-width: 500px) {
    .productViewMainImage {
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 500px) {
    .productViewMainImage {
        width: 100%;
    }
}

.productViewImages {
    margin-top: 5px;
    height: 130px;
    width: 90%;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.productViewProductImages {
    margin: 5px;
    height: 100px;
}

.productViewProductName {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    width: 90%;
    margin-left: 10px;
    border-bottom: 1px solid grey;
}

.productViewProductPrice {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 20px;
}

.fullScreenImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 2.5vh;
    background: red;
    z-index: 7;
}

.fullScreenImage .closeProductView {
    margin-left: 15px;
}

.productListOutterDiv {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.productsDiv {
    min-width: 300px;
    max-width: 350px;
    min-height: 400px;
    max-height: 580px;
    width: 90vh;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
}

.productsDiv h3 {
    font-size: 1.22em;
}

.productsDiv img {
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
}

.productsDiv .productDivName {
    margin-top: 10px;
}

.productsDiv .productDivPrice {
    width: 90%;
    text-align: right;
    border-bottom: 1px solid grey;
}

.productsDiv .productDivShortDescription {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 5px;
}

.productsDiv .productDivBuyButton {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    .productsDiv .productDivBuyButton:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

.productsDiv .productDivCheckButton {
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    height: 45px;
    padding: 3px;
    font-size: x-large;
    margin: 10px 0;
    color: white;
    background: #F9673B;
    letter-spacing: 1.5px;
    border: 1px solid grey;
    -webkit-box-shadow: 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    background: grey;
}

@media only screen and (min-width: 900px) {
    .productsDiv .productDivCheckButton:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 70%;
        -webkit-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
    }
}

/*# sourceMappingURL=style.css.map */
